{% extends "base.html" %}

{% block title %}{{ page.title | safe }}{% endblock title %}
{% block meta %}
<meta name="twitter:title" content="{{ page.title | safe }}" />
<meta name="twitter:description" content="{{ page.description | safe }}" />
{% endblock meta %}

{% block content %}
<article>
    <header>
      <h1>{{ page.title | markdown(inline=true) }}</h1>
      <span>{{ page.date | date(format="%Y-%m-%d") }}&nbsp;</span>
    </header>

    {{ page.content | safe }}
</article>
{% endblock content %}