{% extends "base.html" %}

{% block title %}{{ page.title | safe }}{% endblock title %}
{% block meta %}
<meta name="twitter:title" content="{{ page.title | safe }}" />
<meta name="twitter:description" content="{{ page.description | safe }}" />
{% endblock meta %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title | markdown(inline=true) | safe }}</h1>
    <time itemprop="datePublished" datetime="{{ page.date | date(format="%Y-%m-%d") }}">
      {{ page.date | date(format="%Y-%m-%d") }}
    </time>
    <link itemprop="author publisher" itemtype="http://schema.org/Person" href="#author"/>
  </header>
  <div itemprop="articleBody">
    {{ page.content | safe }}
  </div>

  <hr/>
  Email comments and corrections to <a href="mailto:jack@wrenn.fyi">jack@wrenn.fyi</a>.
</article>

<footer>
  <a href="https://twitter.com/tenellous">Follow me on Twitter!</a>
</footer>

{% endblock content %}