{% extends "base.html" %}
{% block title %}My Blog{% endblock title %}

{% block meta %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") | safe }}">
{% endblock %}

{% block content %}
{% for page in section.pages %}
  <article class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemprop="mainContentOfPage">
    <header>
      <h3 itemprop="headline"><a itemprop="sameAs mainEntityOfPage url" href="{{ page.permalink | safe }}">{{ page.title | markdown(inline=true) }}</a></h3>
      <time style="float:right" itemprop="datePublished" datetime="{{ page.date | date(format="%Y-%m-%d") }}">
        {{ page.date | date(format="%Y-%m-%d") }}
      </time>
      <link itemprop="author publisher" itemtype="http://schema.org/Person" href="#author"/>
    </header>
    <div itemprop="description">{{ page.summary | safe }}</div>
  </article>
{% endfor %}
{% endblock content %}